.header {
	position: relative; /*For some reason you need this for the shadow to show up*/
	background-color: #181818;
	box-shadow: 0 0 12px black;
}

.header-container {
	padding: .5em;
	display: flex;
}

.header-flex {
	margin: 0;
	list-style: none;
	width: auto;
	padding-left: 0em;
}

.left {
	flex: 0 0 auto; /*Don't change size*/
}

.right {
	text-align: right;
	width: auto;
	justify-content: flex-end;
	flex: 0 0 auto;
}

.left a, .right a {
	color: white;
}

.left a:hover, .right a:hover {
	color: darkgray;
}

.right button {
	background-color: transparent;
	color: white;
	border-style: none;
	border-width: 0;
	font-size: 1em;
	padding: 0 .5em 0 0;
}

.right button:hover {
	color:darkgray;
	cursor: pointer;
}

.middle {
	flex: 1 0 auto; /*Grow, but don't shrink*/
	margin-left: 0.5em;
	margin-right: 0.5em;
	position: relative; /*For some reason the search box needs this*/
}

.github {
	text-align: right;
}

.github i {
	padding-top: .1em;
}

/*
Copied from
https://github.com/yourWaifu/yourWaifu.github.io/blob/master/style.css
*/
body {
	margin: 0 auto;
	background-color: #212121;
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-rendering: optimizeLegibility;
}

a {
	color: #64b8fc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul {
	overflow: auto;
}

h1 {
	/*on Firefox, the line height is a bit strange*/
	line-height: normal;
}

.title {
	font-size: 2em;
}

.search-box {
	width: 100%;
	position: absolute;
	bottom: .15em;
	background-color: transparent;
	border-top-color: transparent;
	border-left: transparent;
	border-right: transparent;
	color: white;
	font-size: 1em;
}

.waifu-name-small-screen {
	overflow: auto;
}

.waifu-name-big-screen {
	overflow: auto;
}

.waifu-image {
	margin: 0 auto;
	display: block;
	max-width: 100%;
	flex: 0 1 100%;
}

.waifu-body {
	display: flex;
	flex-direction: row;
}

.dropdown-content-container {
	position: relative;
	height: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 1.7em;
	left: -.5em;
	background: #181818;
	padding: 0 .5em .5em .5em;
	box-shadow: -2px 2px 10px black;
}

.output {
	display: flex;
	max-width: 100vw;
	flex-direction: column;
}

.read-me-container {
	position: absolute;
	top: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.read-me {
	max-width: 37em;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
}

.waifu-stats {
	max-width: 37em;
	flex: 0 0 37em;
}

.front-screen, .front-screen-firefox {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bottom-menu {
	flex: 1 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.bottom-menu button {
	border-style: none;
	border-width: 0;
	background-color: transparent;
	color: white;
}

.mobile-search-button {
	display: none;
}

.mobile-search-button-during-search {
	display: none;
}

@media screen and (max-width: 55.5em) {
	.header-container {
		flex-direction: column;
	}

	.left {
		margin-left: 0;
		text-align: center;
	}

	.middle {
		margin: 0;
		margin-top: 1em;
	}

	/*
	This doesn't look good on mobile,
	disable "right" for now as a temp fix
	*/
	.right {
		display: none;
	}

	.dropdown-content {
		top: 0em;
		z-index: 1;
	}

	.waifu-body {
		flex-wrap: wrap;
		margin: 0 .5em .5em .5em;
	}

	.waifu-name-small-screen {
		max-width: calc(37em/2);
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.waifu-name-big-screen {
		display: none;
	}

	.waifu-image {
		max-height: 50vh;
		width: 100vw;
		object-fit: contain;
	}

	.waifu-stats {
		flex-shrink: 1;
		width: 100vw;
		margin: 0 auto;
	}

	.front-screen {
		/*The difference between % and vh on chrome mobile
		  % was the height of the screen - height of link bar
		  vh is the height of the screen*/
		height: calc(100% - 7.25em);
		position: absolute;
	}

	.front-screen-firefox {
		/*There's an issue with firefox, where using %
		  sets this to unset*/
		height: calc(100vh - 7.25em);
		position: absolute;
	}

	.mobile-search-button {
		display: unset;
	}
}

@media screen and (min-width: 55.5em) {
	.waifu-body {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.waifu-name-small-screen {
		display: none;
	}

	.waifu-image-parent {
		flex: 1 1 auto;
		margin: calc(2em * 0.67) 0;
	}

	.waifu-image {
		max-width: 100%;
	}

	.waifu-stats {
		margin-right: .5em;
		margin-left: calc(2em * 0.67);
	}

	.front-screen, .front-screen-firefox {
		height: calc(100vh - 5.5em);
	}
}