<div id="front-screen" class="front-screen">
	<div style="
		flex: 1 0;
	"></div>
	<div id="front-screen-text" style="
		text-align: center;
	">
		<h1 style="
			margin-left: 1em;
			margin-right: 1em;
		">
			Never have a loli as a waifu ever again
		</h1>
		<p style="
			margin-left: 1em;
			margin-right: 1em;
		">
			Enter your waifu's name on the line above
		</p>
	</div>
	<div style="
		flex: 1 0;
	"></div>	
	<div style="
		height: 0;
		margin: 0;
		text-align: end;
		align-self: flex-end;
	">
		<p style="
			margin: 0 1em 0 0;
			transform: translateY(-100%);
		">
			<!--places text on the bottom right-->
		</p>
	</div>
</div>
<div class="read-me">
	{{ content }}
</div>